<template>
    <div :id="`${id}-accordion`" class="ui styled accordion">
        <div class="title">
            <i class="dropdown icon"></i>
            {{ title }}
        </div>
        <div class="content">
            <p class="transition hidden">
                <slot name="content"></slot>
            </p>
        </div>
    </div>
</template>

<script>
import $ from "jquery";

export default {
    name: "BaseAccordion",
    props: {
        id: { type: String, required: true },
        title: { type: String, required: true },
    },
    mounted() {
        $(".ui.accordion").accordion();
    },
};
</script>

<style></style>
