<template>
    <div
        class="ui inverted dimmer"
        :class="{ active: visible }"
        :id="`${id}-loader`"
    >
        <div class="ui indeterminate text loader">Loading...</div>
    </div>
</template>

<script>
export default {
    name: "BaseLoader",
    props: {
        id: { type: String, required: true },
        visible: { type: Boolean, default: false },
    },
};
</script>
