<template>
    <div
        :id="`${id}`"
        class="ui raised very text container segment"
        style="width: auto"
    >
        <base-loader :id="id" :visible="loaderVisibility"></base-loader>
        <div :id="`${id}-textpane`" class="container-textpane" ref="textpane">
            <slot name="textpane"></slot>
        </div>
        <div :id="`${id}-formpane`" class="container-formpane" ref="formpane">
            <slot name="formpane"></slot>
        </div>
        <div
            :id="`${id}-errorpane`"
            class="container-errorpane"
            ref="errorpane"
        ></div>
        <div
            :id="`${id}-msgpane`"
            class="container-msgpane"
            ref="msgpane"
        ></div>
        <div :id="`${id}-accordionpane`" class="container-accordionpane">
            <slot name="accordionpane"></slot>
        </div>
    </div>
</template>

<script>
import BaseLoader from "storyfinder/components/BaseLoader.vue";

export default {
    name: "Container",
    props: {
        id: { type: String, required: true },
    },
    components: {
        BaseLoader,
    },
    data() {
        return {
            loaderVisibility: false,
        };
    },
    methods: {
        loaderAnimation(active) {
            this.loaderVisibility = active;
        },

        showError(msg, duration = 3000) {
            this.notificaton(msg, duration, this.$refs.errorpane);
        },
        showMessage(msg, duration = 3000) {
            this.notificaton(msg, duration, this.$refs.msgpane);
        },
        setMessage(msg) {
            this.$refs.msgpane.innerHTML = msg;
        },
        notificaton(msg, duration, ref) {
            ref.innerHTML = msg;
            setTimeout(() => {
                ref.innerHTML = "";
            }, duration);
        },
    },
};
</script>
