<template>
    <li>
        <a
            :href="convertedHref"
            role="tab"
            :target="external ? '_blank' : false"
        >
            <i :class="fontawesome"></i>
        </a>
    </li>
</template>

<script>
export default {
    name: "BaseItem",
    props: {
        href: { type: String, required: true },
        fontawesome: { type: String, required: true },
        external: { type: Boolean, default: false },
    },
    computed: {
        convertedHref() {
            return !this.href.startsWith("http") ? `#${this.href}` : this.href;
        },
    },
};
</script>

<style></style>
