<template>
    <div class="sidebar-pane" :id="id">
        <h1 class="sidebar-header" style="margin-top: calc(0.89em - 2rem)">
            {{ title }}
            <span class="sidebar-close">
                <i :class="`fa fa-caret-${position}`"></i>
            </span>
        </h1>
        <slot name="containers"></slot>
    </div>
</template>

<script>
import { toTitleCase } from "storyfinder/utils";

export default {
    name: "Tab",
    props: {
        id: { type: String, required: true },
        position: { type: String, default: "right" },
    },
    computed: {
        title() {
            return toTitleCase(this.id);
        },
    },
};
</script>
