<template>
    <canvas
        ref="canvas"
        :style="{ width, height }"
        :width="width"
        :height="height"
    ></canvas>
</template>

<script>
export default {
    name: "BaseCanvas",
    data() {
        return {
            context: null,
        };
    },
    props: {
        width: { type: String, default: "100%" },
        height: { type: String, default: "100%" },
    },

    mounted() {
        this.context = this.$refs.canvas.getContext("2d");
    },
};
</script>
