<template>
    <div>
        <l-sidebar :id="id" :sidebarOptions="sidebarOptions">
            <template v-slot:navbar-top>
                <slot name="topitems"></slot>
            </template>
            <template v-slot:navbar-bottom>
                <slot name="bottomitems"></slot>
                <the-gitlab-item></the-gitlab-item>
            </template>
            <template v-slot:tab-panes>
                <slot name="tabs" :position="sidebarOptions.position"></slot>
            </template>
        </l-sidebar>
        <l-map :id="id"></l-map>
    </div>
</template>

<script>
import LSidebar from "storyfinder/components/leaflet/LSidebar.vue";
import LMap from "storyfinder/components/leaflet/LMap.vue";
import TheGitlabItem from "storyfinder/components/TheGitlabItem.vue";

export default {
    name: "Main",
    components: {
        LSidebar,
        LMap,
        TheGitlabItem,
    },
    props: {
        id: { type: String, required: true },
        sidebarOptions: {
            type: Object,
            default() {
                return {
                    position: "right",
                };
            },
        },
    },
};
</script>

<style></style>
