<template>
    <base-item
        :href="'https://gitlab.com/phloose/storyfinder-ui'"
        :fontawesome="'fa fa-gitlab'"
        :external="true"
    ></base-item>
</template>
<script>
import BaseItem from "storyfinder/components/BaseItem.vue";

export default {
    components: { BaseItem },
};
</script>

<style></style>
