<template>
    <base-item href="help" fontawesome="fa fa-question-circle"></base-item>
</template>

<script>
import BaseItem from "storyfinder/components/BaseItem.vue";

export default {
    components: { BaseItem },
};
</script>

<style></style>
