<template>
    <div class="info legend">
        <b>{{ title }}</b>
        <p>
            <span
                v-for="brk in breaksComputed"
                :key="brk.id"
                class="legend-items"
            >
                <i :style="{ background: brk.color }" class="legend-symbol"></i>
                <span class="legend-break">
                    {{ brk.lower > 0 ? "&nbsp;" + brk.lower : brk.lower }}
                    &nbsp;&ndash;
                    {{ brk.upper > 0 ? "&nbsp;" + brk.upper : brk.upper }}
                </span>
                <span class="legend-label" v-show="brk.label">
                    &nbsp;&nbsp;{{ brk.label }}
                </span>
            </span>
        </p>
    </div>
</template>

<script>
import L from "leaflet";
import * as chroma from "chroma-js";

import store from "storyfinder/store";

export default {
    name: "LLegend",
    props: {
        title: { type: String, required: true },
        map: { type: L.Map, required: true },
        position: {
            type: String,
            default: "bottomleft",
            validator(value) {
                return (
                    [
                        "topright",
                        "topleft",
                        "bottomright",
                        "bottomleft",
                    ].indexOf(value) !== -1
                );
            },
        },
        breaks: { type: Array, required: true },
        labels: { type: Array },
        colorScale: { type: chroma.Scale, required: true },
        precision: { type: Number, default: 2 },
    },
    beforeMount() {
        const legendControl = L.control({ position: this.position });
        store.LLegends.setLegend(this.title, legendControl);
        legendControl.onAdd = () => this.$el;
    },
    mounted() {
        store.LLegends.getLegend(this.title).addTo(this.map);
    },
    computed: {
        breaksComputed() {
            const normalized = this.colorScale.classes(this.breaks);
            // As the breaks array starts from low numbers we need to reverse it here
            // because we want the legend to show higher numbers at the top.
            const breaksReversed = this.breaks.slice().reverse();
            const legendItems = [];
            for (let i = 0; i < breaksReversed.length; i++) {
                // Since we want to display the value range (e.g class) that a color stands
                // for we need to extract the upper and lower boundary of the breaks array.
                // We do that by using arr[i] and arr[i + 1]  until the end of the array is
                // reached (lower is undefined) and break out.
                const upper = breaksReversed[i];
                const lower = breaksReversed[i + 1];
                if (typeof lower === "undefined") break;
                legendItems.push({
                    id: i,
                    lower: Number.isInteger(lower)
                        ? lower
                        : lower.toFixed(this.precision),
                    upper: Number.isInteger(upper)
                        ? upper
                        : upper.toFixed(this.precision),
                    color: normalized((lower + upper) / 2).hex(),
                    label: this.labelsComputed
                        ? this.labelsComputed[i]
                        : undefined,
                });
            }

            return legendItems;
        },
        labelsComputed() {
            if (!this.labels) {
                return null;
            }
            if (this.labels.length !== this.breaks.length - 1) {
                return null;
            }
            return this.labels.slice().reverse();
        },
    },
    beforeDestroy() {
        store.LLegends.getLegend(this.title).remove();
        store.LLegends.deleteLegend(this.title);
    },
};
</script>

<style scoped>
p {
    line-height: unset;
}
.legend-items {
    display: grid;
    grid-template-areas: "symbol break label";
    grid-auto-columns: max-content;
}
.legend-symbol {
    grid-area: symbol;
}
.legend-break {
    grid-area: break;
    text-align: left;
}
.legend-label {
    grid-area: label;
    text-align: left;
}
</style>
