<template>
    <div :id="id" ref="mapContainer" class="sidebar-map storyfinder-map"></div>
</template>

<script>
import L from "leaflet";
import Vue from "vue";

import EventBus from "storyfinder/EventBus";
import store from "storyfinder/store";

export default {
    name: "LMap",
    data() {
        return {
            LMap: null,
            LTileLayer: null,
        };
    },
    props: {
        id: { type: String, required: true },
        mapOptions: {
            type: Object,
            default() {
                return {
                    center: [0, 0],
                    zoom: 2,
                };
            },
        },
        tileLayerUrl: {
            type: String,
            default: "https://a.tile.openstreetmap.org/{z}/{x}/{y}.png",
        },
        tileLayerOptions: {
            type: Object,
            default() {
                return {
                    attribution:
                        'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
                    maxZoom: 18,
                };
            },
        },
    },
    mounted() {
        this.LMap = L.map(this.$refs.mapContainer, this.mapOptions);
        this.LTileLayer = L.tileLayer(this.tileLayerUrl, this.tileLayerOptions);
        Vue.nonreactive(this.LMap);
        Vue.nonreactive(this.LTileLayer);
        this.LTileLayer.addTo(this.LMap);
        EventBus.$emit("map-created", this.LMap);
        store.LMap = this.LMap;
        store.LTileLayer = this.LTileLayer;
        this.LMap.createPane("splitmap_left");
        this.LMap.createPane("splitmap_right");
    },
};
</script>

<style></style>
