<template>
    <div :id="`${id}-sidebar`" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <slot name="navbar-top"></slot>
            </ul>

            <ul role="tablist">
                <slot name="navbar-bottom"></slot>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <slot name="tab-panes"></slot>
        </div>
    </div>
</template>

<script>
import L from "leaflet";
import "sidebar-v2/js/leaflet-sidebar";

import EventBus from "storyfinder/EventBus";
import store from "storyfinder/store";

export default {
    name: "Sidebar",
    data() {
        return {
            LSidebar: null,
        };
    },
    props: {
        id: { type: String, required: true },
        sidebarOptions: {
            type: Object,
            default() {
                return { position: "right" };
            },
        },
    },
    mounted() {
        this.LSidebar = L.control.sidebar(
            `${this.id}-sidebar`,
            this.sidebarOptions
        );
        store.LSidebar = this.LSidebar;
        EventBus.$emit("sidebar-created", this.LSidebar);
        const thisComponent = this;
        EventBus.$on("map-created", function (lmap) {
            thisComponent.LSidebar.addTo(lmap);
        });
    },
};
</script>

<style></style>
