<template>
    <base-main id="hotspot">
        <template v-slot:topitems>
            <h-explore-item></h-explore-item>
            <h-help-item></h-help-item>
        </template>
        <template v-slot:bottomitems></template>
        <template v-slot:tabs>
            <h-explore-tab></h-explore-tab>
            <h-help-tab></h-help-tab>
        </template>
    </base-main>
</template>

<script>
import BaseMain from "storyfinder/components/BaseMain.vue";

import HExploreItem from "storyfinder/hotspot/components/HExploreItem.vue";
import HExploreTab from "storyfinder/hotspot/components/tabs/HExploreTab.vue";

import HHelpItem from "storyfinder/hotspot/components/HHelpItem.vue";
import HHelpTab from "storyfinder/hotspot/components/tabs/HHelpTab.vue";

export default {
    components: {
        BaseMain,
        HExploreItem,
        HExploreTab,
        HHelpItem,
        HHelpTab,
    },
};
</script>

<style></style>
