<template>
    <base-container id="compare" ref="container">
        <template v-slot:textpane><span v-html="text"></span></template>
        <template v-slot:formpane>
            <form id="compare-form" class="compare-container">
                <p>
                    <label for="compare-attribute-compare">
                        Attribute to compare
                    </label>
                    <select ref="attribute"></select>
                </p>
                <p>
                    <label for="compare-classify-clsnum">
                        Number of classes
                    </label>
                    <select ref="classes">
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                    </select>
                </p>
                <p>
                    <label for="compare-classify-method">
                        Classification method
                    </label>
                    <select ref="method">
                        <option value="ckmeans">Ckmeans (Jenks)</option>
                        <option value="quantiles">Quantiles</option>
                        <option value="equal">Equal Interval</option>
                    </select>
                </p>
                <p>
                    <label for="compare-classify-color"> Color scale </label>
                    <select ref="colorscale">
                        <option>YlGnBu</option>
                        <option>RdPu</option>
                        <option>YlOrBr</option>
                    </select>
                </p>
                <p>
                    <button
                        id="compare-button"
                        class="compare-container-compare-button"
                        @click.prevent="classify"
                    >
                        Classify
                    </button>
                    <button
                        id="stop-compare-button"
                        class="compare-container-stop-compare-button"
                        ref="stopbutton"
                        :disabled="true"
                        @click.prevent="removeSlider"
                    >
                        Remove slider
                    </button>
                </p>
            </form>
        </template>
    </base-container>
</template>

<script>
import * as chroma from "chroma-js";
import L from "leaflet";
import Vue from "vue";

import BaseContainer from "storyfinder/components/BaseContainer.vue";
import LLegend from "storyfinder/components/leaflet/LLegend.vue";

import { classify, clearOptions, populateOptions } from "storyfinder/utils";
import { removeGeoJSON } from "storyfinder/maputils";
import EventBus from "storyfinder/EventBus";
import store from "storyfinder/store";

import compareText from "storyfinder/hotspot/components/md/HCompareContainer.md";

const LegendClass = Vue.extend(LLegend);

export default {
    components: { BaseContainer },
    data() {
        return {
            classes: null,
            method: null,
            attribute: null,
        };
    },
    computed: {
        text() {
            return compareText;
        },
        breaks() {
            if (!store.dataset || !store.analyzedDataset) {
                return null;
            }
            return classify(
                store.dataset.features.map(
                    feature => feature.properties[this.attribute]
                ),
                parseInt(this.classes, 10),
                this.method
            );
        },
    },
    mounted() {
        this.container = this.$refs.container;
        EventBus.$on("dataset-loaded", this.onDatasetLoad);
        EventBus.$on("dataset-classified", this.onClassified);
        EventBus.$on("hotspots-analyzed", () => {
            if (store.LSplitMap) this.removeSlider();
        });
    },
    methods: {
        classify() {
            if (!store.dataset || !store.analyzedDataset) {
                return;
            }
            this.classes = this.$refs.classes.value;
            this.method = this.$refs.method.value;
            this.attribute = this.$refs.attribute.value;
            EventBus.$emit("dataset-classified", this.breaks);
        },
        onDatasetLoad(loaded) {
            clearOptions(this.$refs.attribute, false);
            populateOptions(loaded.dataset, this.$refs.attribute);
        },
        onClassified(breaks) {
            if (store.LSplitMap) {
                this.removeLSplitMap();
            }
            const compare = this.addCompareDataset({
                attribute: this.$refs.attribute.value,
                colorscale: this.$refs.colorscale.value,
                breaks,
            });
            const sliderOffset =
                (store.LMap.getSize().x -
                    document.getElementById("hotspot-sidebar").offsetWidth) /
                2 /
                store.LMap.getSize().x;
            this.addSplitMap(compare, sliderOffset);
            this.legend = new LegendClass({
                propsData: {
                    title: `${
                        this.$refs.method[this.$refs.method.selectedIndex].text
                    } (${this.$refs.attribute.value})`,
                    map: store.LMap,
                    breaks,
                    colorScale: chroma.scale(this.$refs.colorscale.value),
                    precision: 3,
                },
            }).$mount();
            this.$refs.stopbutton.disabled = false;
        },
        addCompareDataset({ attribute, colorscale, breaks }) {
            const featureColor = chroma.scale(colorscale).classes(breaks);
            const compareDataset = L.geoJSON(store.dataset, {
                pane: "splitmap_right",
                name: "compare_dataset",
                style(feature) {
                    return {
                        fillColor: featureColor(
                            feature.properties[attribute]
                        ).hex(),
                        weight: 1.5,
                        opacity: 0.7,
                        color: "grey",
                        fillOpacity: 0.7,
                    };
                },
            }).addTo(store.LMap);
            return compareDataset;
        },
        addSplitMap(compareDataset, offset) {
            store.LSplitMap = L.control.splitMap(
                store.mapDataset,
                compareDataset
            );
            store.LSplitMap.addTo(store.LMap);
            // Hack to display the slider offset by the sidebar!
            // Fork splitMap and make it accept an offset parameter
            store.LSplitMap._range.value = offset;
            store.LSplitMap._updateClip();
            return store.LSplitMap;
        },
        removeSlider() {
            this.removeLSplitMap();
            this.$refs.stopbutton.disabled = true;
        },
        removeLSplitMap() {
            store.LSplitMap.remove();
            removeGeoJSON(store.LMap, "compare_dataset");
            if (this.legend) this.legend.$destroy();
        },
    },
};
</script>

<style></style>
