<template>
    <base-container id="hotspot-analysis" ref="container">
        <template v-slot:textpane><span v-html="text"></span></template>
        <template v-slot:formpane>
            <button @click="analyzeDataset" id="hotspot-analysis-button">
                Analyze
            </button>
            <button
                :disabled="analyzed === false"
                @click="saveDataset"
                id="hotspot-save-dataset-button"
            >
                Export result
            </button>
            <button
                :disabled="analyzed === false"
                @click="saveVisualization"
                id="hotspot-save-vis-button"
            >
                Export visualization
            </button>
        </template>
    </base-container>
</template>

<script>
import path from "path";

import $ from "jquery";
import L from "leaflet";
import proj4 from "proj4";
import Vue from "vue";
import FileSaver from "file-saver";
import domtoimage from "dom-to-image";

import BaseContainer from "storyfinder/components/BaseContainer.vue";
import LLegend from "storyfinder/components/leaflet/LLegend.vue";

import EventBus from "storyfinder/EventBus";
import store from "storyfinder/store";
import { blueWhiteRed } from "storyfinder/hotspot/colors";
import {
    geojsonToMap,
    removeGeoJSON,
    removeSplitMap,
} from "storyfinder/maputils";

import hotspotText from "storyfinder/hotspot/components/md/HHotspotContainer.md";

const LegendClass = Vue.extend(LLegend);

/**
 * Create a style for displaying a features z-score in blue-white-red
 *
 * @param {string} attribute The attribute of which the z-score is to be styled.
 * @returns {Function} A callback that is used by L.GeoJSON constructor.
 */
function hotSpotStyle(attribute) {
    function styleFunction(feature) {
        return {
            fillColor: blueWhiteRed(
                feature.properties[`Zs_${attribute}`]
            ).hex(),
            weight: 1.5,
            opacity: 0.7,
            color: "grey",
            fillOpacity: 0.7,
        };
    }
    return styleFunction;
}

/**
 * Create a tooltip that contains the given attributes names and values of a L.Layer
 * instance
 *
 * @param {string[]} attrs An array of attribute names.
 * @returns {Function} A callback that is to be used with L.Layer.bindPopup
 */
function showTooltip(attrs) {
    return function (layer) {
        const div = L.DomUtil.create("div", "tooltip");
        attrs.forEach(attr => {
            let attrValue = layer.feature.properties[attr];
            attrValue = Number.isInteger(attrValue)
                ? attrValue
                : attrValue.toFixed(2);
            const p = L.DomUtil.create("p");
            p.innerHTML = `${attr}: ${attrValue}`;
            div.appendChild(p);
        });
        return div;
    };
}

const compareLegend = L.control({ position: "bottomleft" });

export default {
    components: {
        BaseContainer,
    },
    data() {
        return {
            analyzed: false,
        };
    },
    computed: {
        text() {
            return hotspotText;
        },
    },
    mounted() {
        this.container = this.$refs.container;
        EventBus.$on("hotspots-analyzed", this.onAnalyzed);
        EventBus.$on("dataset-loaded", () => this.setAnalyzed(false));
        EventBus.$on("attribute-selected", () => this.setAnalyzed(false));
    },
    methods: {
        analyzeDataset() {
            if (!store.dataset) return;
            this.setAnalyzed(false);
            this.container.loaderAnimation(true);
            $.getJSON("http://localhost:4242/hotspot", {
                path: store.datasetPath,
                attr: store.attribute,
            })
                .done(data => {
                    this.setAnalyzed(true);
                    this.container.loaderAnimation(false);
                    EventBus.$emit("hotspots-analyzed", data);
                })
                .fail(err => {
                    this.setAnalyzed(false);
                    this.container.loaderAnimation(false);
                    this.container.showError(
                        "An error occured while connecting to /hotspot endpoint"
                    );
                    console.log(
                        "An error occured while connecting to /hotspot endpoint",
                        err
                    );
                });
        },
        saveDataset() {
            const blob = new Blob([JSON.stringify(store.analyzedDataset)], {
                type: "text/json;charset=utf-8",
            });
            const fileName = path.basename(store.datasetPath).split(".")[0];
            FileSaver.saveAs(blob, `${fileName}_hotspot_analysis.geojson`);
        },
        saveVisualization() {
            const [mapElement] = document.getElementsByClassName(
                "storyfinder-map"
            );
            const fileName = path.basename(store.datasetPath).split(".")[0];
            const { zoomControl } = store.LMap;
            this.container.loaderAnimation(true);
            zoomControl.remove();
            domtoimage
                .toBlob(mapElement, {
                    width:
                        store.LMap.getSize().x -
                        document.getElementById("hotspot-sidebar").offsetWidth,
                    height: store.LMap.getSize().y,
                })
                .then(blob =>
                    FileSaver.saveAs(
                        blob,
                        `${fileName}_hotspot_analysis_map.png`
                    )
                )
                .finally(() => {
                    this.container.loaderAnimation(false);
                    zoomControl.addTo(store.LMap);
                });
        },
        setAnalyzed(state) {
            this.analyzed = state;
        },
        onAnalyzed(data) {
            if (store.LSplitMap) {
                removeSplitMap(store.LSplitMap, store.LMap, compareLegend);
            }
            if (this.legend) this.legend.$destroy();
            removeGeoJSON(store.LMap, "init_dataset");
            removeGeoJSON(store.LMap, "analyzed_dataset");
            store.analyzedDataset = data;
            store.analyzedAttribute = store.attribute;
            const {
                crs: { init: epsg },
                crs_wkt: defs,
            } = store.datasetMeta;
            proj4.defs(epsg, defs);
            store.mapDataset = geojsonToMap(
                data,
                store.LMap,
                {
                    style: hotSpotStyle(store.attribute),
                    name: "analyzed_dataset",
                    pane: "splitmap_left",
                },
                {
                    paddingBottomRight: [
                        document.getElementById("hotspot-sidebar").offsetWidth,
                        0,
                    ],
                },
                epsg
            );
            Vue.nonreactive(store.mapDataset);
            store.mapDataset.bindPopup(
                showTooltip([store.attribute, `Zs_${store.attribute}`])
            );
            this.legend = new LegendClass({
                propsData: {
                    title: `Z-Score (${store.analyzedAttribute})`,
                    map: store.LMap,
                    labels: [
                        "very cold coldspot",
                        "colder coldspot",
                        "coldspot",
                        "not significant",
                        "hotspot",
                        "hotter hotspot",
                        "very hot hotspot",
                    ],
                    breaks: [
                        -3.39,
                        -2.58,
                        -1.96,
                        -1.65,
                        1.65,
                        1.96,
                        2.58,
                        3.39,
                    ],
                    colorScale: blueWhiteRed,
                },
            }).$mount();
        },
    },
};
</script>

<style scoped>
#hotspot-analysis-button {
    display: inline-block;
}

#hotspot-save-dataset-button {
    display: inline-block;
    margin-left: 5px;
}

#hotspot-save-vis-button {
    display: inline-block;
    margin-left: 5px;
}
</style>
