<template>
    <base-container id="load" ref="container">
        <template v-slot:textpane><span v-html="text"></span></template>
        <template v-slot:formpane>
            <form id="load-form" class="load-container">
                <p>
                    <label for="load-dataset-dlg">Dataset</label>
                    <input
                        type="file"
                        accept=".shp,.geojson,.gpkg"
                        @input="loadDataset"
                        ref="filedlg"
                    />
                </p>
                <p>
                    <label for="load-attribute-select">Attribute</label>
                    <select
                        ref="attribute"
                        @focus="resetSelection"
                        @change="setAttribute"
                    >
                        <option disabled selected value="noop">
                            {{ selectHint }}
                        </option>
                    </select>
                </p>
            </form> </template
        >sdd
        <template v-slot:accordionpane>
            <base-accordion id="load" v-if="vegaSpec" :title="accordionTitle">
                <template v-slot:content>
                    <v-chart
                        id="attribute-histogram"
                        :spec="vegaSpec"
                        :width="417"
                        ref="chart"
                    ></v-chart>
                </template>
            </base-accordion>
        </template>
    </base-container>
</template>

<script>
import $ from "jquery";
import proj4 from "proj4";

import BaseContainer from "storyfinder/components/BaseContainer.vue";
import BaseAccordion from "storyfinder/components/BaseAccordion.vue";
import VChart from "storyfinder/components/vega/VChart.vue";

import {
    clearOptions,
    populateOptions,
    vegaHistogram,
    getProperties,
} from "storyfinder/utils";

import {
    geojsonToMap,
    highlightFeatures,
    removeGeoJSON,
    resetSelectedFeatures,
} from "storyfinder/maputils";

import EventBus from "storyfinder/EventBus";
import store from "storyfinder/store";

import loadText from "storyfinder/hotspot/components/md/HLoadContainer.md";

export default {
    components: { BaseContainer, BaseAccordion, VChart },
    data() {
        return {
            selectedAttribute: null,
            vegaSpec: null,
            loaded: false,
        };
    },
    computed: {
        text() {
            return loadText;
        },
        selectHint() {
            return !this.loaded ? "Load a dataset" : "Select an attribute";
        },
        accordionTitle() {
            return !this.selectedAttribute
                ? ""
                : `Histogram for '${this.selectedAttribute}'`;
        },
    },
    mounted() {
        this.container = this.$refs.container;
        EventBus.$on("dataset-loaded", this.onDatasetLoaded);
        EventBus.$on("attribute-selected", this.onAttributeSelected);
        EventBus.$on("mapdataset-set", this.addVegaEventListener);
    },
    methods: {
        loadDataset(ev) {
            if (!ev.target.files.length) {
                return;
            }
            const datasetPath = ev.target.files[0].path;
            this.container.loaderAnimation(true);
            this.vegaSpec = null;
            this.selectedAttribute = null;
            $.getJSON("http://localhost:4242/load", {
                path: datasetPath,
            })
                .done(loaded => {
                    const { meta: datasetMeta, dataset } = loaded;
                    this.container.loaderAnimation(false);
                    this.loaded = true;
                    EventBus.$emit("dataset-loaded", {
                        dataset,
                        datasetMeta,
                        datasetPath,
                    });
                })
                .fail(err => {
                    this.container.loaderAnimation(false);
                    this.container.showError(
                        "An error occured while trying to open the dataset"
                    );
                    console.error(
                        "An error occured while trying to open the dataset",
                        err
                    );
                });
        },
        setAttribute(ev) {
            // eslint-disable-next-line no-multi-assign
            this.selectedAttribute = store.attribute = ev.target.value;
            EventBus.$emit("attribute-selected");
        },
        resetSelection(ev) {
            ev.target.selectedIndex = 0;
        },
        onDatasetLoaded({ dataset, datasetMeta, datasetPath }) {
            clearOptions(this.$refs.attribute);
            populateOptions(dataset, this.$refs.attribute);
            Object.assign(store, {
                dataset,
                datasetMeta,
                datasetPath,
            });
            ["init_dataset", "analyzed_dataset"].forEach(name =>
                removeGeoJSON(store.LMap, name)
            );
            this.addInitDataset(dataset);
        },
        addInitDataset(dataset) {
            const {
                crs: { init: epsg },
                crs_wkt: defs,
            } = store.datasetMeta;
            proj4.defs(epsg, defs);
            store.mapDataset = geojsonToMap(
                dataset,
                store.LMap,
                {
                    style() {
                        return {
                            color: "grey",
                            weight: 1.5,
                        };
                    },
                    name: "init_dataset",
                    pane: "splitmap_left",
                },
                {
                    paddingBottomRight: [
                        document.getElementById("hotspot-sidebar").offsetWidth,
                        0,
                    ],
                },
                epsg
            );
        },
        onAttributeSelected() {
            this.vegaSpec = vegaHistogram(
                getProperties(store.dataset),
                store.attribute
            );
            this.$nextTick(function () {
                this.$refs.chart.addSignalListener(
                    `range_${store.attribute}`,
                    function (name, value) {
                        if (!store.mapDataset) return;
                        const [lower, upper] = value;
                        highlightFeatures(
                            store.mapDataset,
                            store.attribute,
                            lower,
                            upper
                        );
                    }
                );
                if (store.mapDataset) {
                    this.addVegaEventListener();
                }
            });
        },
        addVegaEventListener() {
            this.$refs.chart.addEventListener(
                "dblclick",
                resetSelectedFeatures(store.mapDataset)
            );
        },
    },
};
</script>

<style></style>
