<template>
    <base-container id="moran" ref="container">
        <template v-slot:textpane><span v-html="text"></span></template>
        <template v-slot:formpane>
            <button id="moran-button" @click="loadMoran">Analyze</button>
            <h-moran-result ref="result"></h-moran-result>
        </template>
    </base-container>
</template>

<script>
import $ from "jquery";

import BaseContainer from "storyfinder/components/BaseContainer.vue";
import HMoranResult from "storyfinder/hotspot/components/containers/HMoranResult.vue";

import store from "storyfinder/store";

import moranText from "storyfinder/hotspot/components/md/HMoranContainer.md";

export default {
    data() {
        return {
            store,
        };
    },
    computed: {
        text() {
            return moranText;
        },
    },
    mounted() {
        this.container = this.$refs.container;
    },
    components: { BaseContainer, HMoranResult },
    methods: {
        loadMoran(ev) {
            if (!store.dataset) return;
            this.container.loaderAnimation(true);
            $.getJSON("http://localhost:4242/moran", {
                dataset: this.store.datasetPath,
                attribute: this.store.attribute,
            })
                .done(data => {
                    this.container.loaderAnimation(false);
                    this.$refs.result.setMoranResult(data);
                })
                .fail(err => {
                    this.container.loaderAnimation(false);
                    this.container.showError(
                        "An error occured while connecting to /moran endpoint"
                    );
                    console.log(
                        "An error occured while connecting to /moran endpoint",
                        err
                    );
                });
        },
    },
};
</script>

<style></style>
