<template>
    <div id="h-moran-result">
        <img :src="imagePath" width="100%" />
        <base-canvas
            ref="canvas"
            v-if="showCanvas"
            height="60px"
            width="448px"
        ></base-canvas>
        <span v-if="resultText" v-html="resultText"></span>
    </div>
</template>

<script>
import Vue from "vue";

import BaseCanvas from "storyfinder/components/BaseCanvas.vue";

import { classifyMoran, getStatic } from "storyfinder/utils";

import EventBus from "storyfinder/EventBus";

export default {
    name: "HMoranResult",
    components: {
        BaseCanvas,
    },
    data() {
        return {
            showCanvas: false,
            resultText: "",
            moransI: null,
            moransP: null,
        };
    },
    computed: {
        imagePath() {
            return getStatic("./img/spatial_autocorrelation.png");
        },
    },
    mounted() {
        EventBus.$on("dataset-loaded", () => this.unsetResultAndCanvas());
        EventBus.$on("attribute-selected", () => this.unsetResultAndCanvas());
    },
    methods: {
        setMoranResult({ moransI, moransP }) {
            this.moransI = moransI;
            this.moransP = moransP;
            this.classifyMoran(moransI, moransP);
            if (moransP < 0.05) {
                this.setShowCanvas(true);
                this.drawMoransIndexBar();
            }
        },
        setShowCanvas(state) {
            this.showCanvas = state;
        },
        unsetResultAndCanvas() {
            this.resultText = "";
            this.clearCanvas();
            this.setShowCanvas(false);
        },
        classifyMoran(moransI, moransP) {
            switch (classifyMoran(moransI, moransP)) {
                case "clustered":
                    this.resultText =
                        "The selected attribute appears to be spatially clustered";
                    break;
                case "dispersed":
                    this.resultText =
                        "The selected attribute appears to be spatially evenly distributed";
                    break;
                case "random":
                    this.resultText =
                        "The spatial distribution of the selected attribute is not statistically significant";
                    break;
                default:
                    this.resultText = "";
            }
        },
        async getCanvasContext() {
            await Vue.nextTick();
            return this.$refs.canvas.context;
        },
        clearCanvas() {
            this.getCanvasContext().then(cx => {
                const canvas = this.$refs.canvas.$el;
                cx.clearRect(0, 0, canvas.width, canvas.height);
            });
        },
        drawMoransIndexBar() {
            this.clearCanvas();
            this.getCanvasContext().then(cx => {
                const canvas = this.$refs.canvas.$el;
                const { offset, barLength } = this.drawBar(cx, canvas);
                this.drawValueOnBar(cx, this.moransI, offset, barLength);
            });
        },
        drawBar(cx, canvas, pad = 45) {
            const totalLength = canvas.width;
            const start = pad;
            const middle = totalLength / 2;
            const end = totalLength - pad;
            cx.beginPath();
            cx.strokeStyle = "#000000";
            // horizontal bar
            cx.moveTo(start, 30);
            cx.lineTo(end, 30);
            cx.stroke();
            // vertical start bar
            cx.moveTo(start, 20);
            cx.lineTo(start, 40);
            cx.stroke();
            // vertical middle bar
            cx.moveTo(middle, 20);
            cx.lineTo(middle, 40);
            cx.stroke();
            // vertical end bar
            cx.moveTo(end, 20);
            cx.lineTo(end, 40);
            cx.stroke();
            return { offset: start, barLength: totalLength - 2 * pad };
        },
        drawValueOnBar(cx, value, offset, barLength) {
            const pos = (value > 0 ? 1 + value : 1 - Math.abs(value)) / 2;
            const relPos = offset + pos * barLength;
            cx.beginPath();
            cx.strokeStyle = "#ff0000";
            cx.lineWidth = 2;
            cx.moveTo(relPos, 12.5);
            cx.lineTo(relPos, 48.5);
            cx.stroke();
            return relPos;
        },
    },
};
</script>

<style scoped>
#h-moran-result {
    padding-top: 10px;
    text-align: center;
}
</style>
