<template>
    <base-tab id="explore">
        <template v-slot:containers>
            <h-load-container></h-load-container>
            <h-moran-container></h-moran-container>
            <h-hotspot-container></h-hotspot-container>
            <h-compare-container></h-compare-container>
        </template>
    </base-tab>
</template>

<script>
import BaseTab from "storyfinder/components/BaseTab.vue";

import HLoadContainer from "storyfinder/hotspot/components/containers/HLoadContainer.vue";
import HMoranContainer from "storyfinder/hotspot/components/containers/HMoranContainer.vue";
import HHotspotContainer from "storyfinder/hotspot/components/containers/HHotspotContainer.vue";
import HCompareContainer from "storyfinder/hotspot/components/containers/HCompareContainer.vue";

export default {
    components: {
        BaseTab,
        HLoadContainer,
        HMoranContainer,
        HHotspotContainer,
        HCompareContainer,
    },
};
</script>

<style></style>
