<template>
    <base-tab id="help">
        <template v-slot:containers>
            <base-container id="hotspot-help">
                <template v-slot:textpane>
                    <span v-html="hotspotHelp"></span>
                </template>
            </base-container>
            <base-container id="moran-help">
                <template v-slot:textpane>
                    <span v-html="moranHelp"></span>
                </template>
            </base-container>
            <base-container id="numclass-help">
                <template v-slot:textpane>
                    <span v-html="numclassHelp"></span>
                </template>
            </base-container>
        </template>
    </base-tab>
</template>

<script>
import BaseTab from "storyfinder/components/BaseTab.vue";
import BaseContainer from "storyfinder/components/BaseContainer.vue";

import hotspotText from "storyfinder/hotspot/components/md/HHelpTabHotspot.md";
import moranText from "storyfinder/hotspot/components/md/HHelpTabMoran.md";
import numclassText from "storyfinder/hotspot/components/md/HHelpTabNumclass.md";

export default {
    components: { BaseTab, BaseContainer },
    computed: {
        hotspotHelp() {
            return hotspotText;
        },
        moranHelp() {
            return moranText;
        },
        numclassHelp() {
            return numclassText;
        },
    },
};
</script>

<style></style>
