.storyfinder-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lorem {
    font-style: italic;
    color: #aaa;
}

html,
body,
.storyfinder-map {
    font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
}

@media (min-width: 1200px) {
    .sidebar {
        width: 560px;
    }
}

@media (min-width: 1200px) {
    .sidebar-pane {
        min-width: 520px;
    }
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.tooltip p {
    line-height: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.compare-container p {
    line-height: 0.5;
}

.compare-container label {
    width: 35%;
    display: inline-block;
}

.compare-container-compare-button {
    display: inline-block;
}

.compare-container-stop-compare-button {
    display: inline-block;
    margin-left: 5px;
}

.load-container p {
    line-height: 0.2;
}

.load-container label {
    width: 20%;
    display: inline-block;
}

.container-formpane {
    margin-top: 5px;
}

.container-errorpane {
    color: #ff0000;
}

.container-accordionpane {
    margin-top: 15px;
}
