<template>
    <div :id="`${id}-vega-chart`" class="vcontainer-chart"></div>
</template>

<script>
import * as vega from "vega";
import * as vegaLite from "vega-lite";

export default {
    props: {
        id: { type: String, required: true },
        spec: { type: Object, required: true },
        width: { type: Number, required: true },
    },
    data() {
        return {
            vegaView: null,
        };
    },
    computed: {
        parsedVegaSpec() {
            return vega.parse(vegaLite.compile(this.spec).spec);
        },
    },
    watch: {
        spec() {
            try {
                this.vegaView.finalize();
            } catch (error) {
                console.error(error);
            }
            this.addVegaView(this.parsedVegaSpec);
        },
        width() {
            this.vegaView.width(this.width).run();
        },
    },
    mounted() {
        this.addVegaView(this.parsedVegaSpec);
    },
    beforeDestroy() {
        this.vegaView.finalize();
    },
    methods: {
        addVegaView(spec) {
            this.vegaView = new vega.View(spec)
                .initialize(this.$el)
                .renderer("canvas")
                .hover();
            this.vegaView.runAsync().then(view => view.width(this.width));
        },
        addSignalListener(name, handler) {
            if (this.vegaView) this.vegaView.addSignalListener(name, handler);
        },
        addEventListener(type, handler) {
            if (this.vegaView) this.vegaView.addEventListener(type, handler);
        },
    },
};
</script>

<style scoped>
.vcontainer-chart {
    width: 100%;
    height: 100%;
}
</style>
